html {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 300px;
    height: 403px;
}

.header {
    display: grid;
    grid-template-areas:
    "mainTitle information";

    grid-template-columns: 600px 600px;

    justify-content: center;
    padding: 100px;
}

.mainTitle {
    grid-area: mainTitle;

    font-family: 'PT Serif', serif;
    font-size: 32px;
    font-weight: 700;

    color: #000000;
}

.information {
    grid-area: information;

    width: auto;
}

.information, h2 {
    font-weight: 600;
    line-height: 25px;

    color: #000000;
}

.information, p {
    width: 350px;

    line-height: 25px;
    font-weight: 400;
    text-align: left;

    color: #000000;
}

.mainContent {
    display: grid;
    grid-template-areas:
    "photo1 photo2 photo3"
    "photo4 photo5 photo6";

    grid-template-columns: 450px 450px 450px;

    justify-content: center;
    justify-items: center;
    margin: auto;
}

#photo1, #photo2, #photo3,
#photo4, #photo5, #photo6 {
    margin-bottom: 100px;
    width: 300px;
}

#photo2, #photo5 {
    margin-top: 150px;
}

#photo1 {
    grid-area: photo1;
}

#photo2 {
    grid-area: photo2;
}

#photo3 {
    grid-area: photo3;
}

#photo4 {
    grid-area: photo4;
}

#photo5 {
    grid-area: photo5;
}

#photo6 {
    grid-area: photo6;
}

.mainContent h3 {
    font-weight: 600;
    
    position: relative;
    top: 20px;
}

.mainContent p {
    font-weight: 400;

    transform: rotate(90deg);
    
    position: relative;
    bottom: 260px;
    left: 150px;
}

footer p {
    margin: auto;
    text-align: center;

    font-size: 14px;

    color: #A9A9A9;
}

footer a {
   color: #A9A9A9;
}

@media (max-width: 1200px) {
    .header {
        display: grid;
        grid-template-areas:
        "mainTitle information";
    
        grid-template-columns: 400px 350px;
    
        justify-content: center;
        padding: 100px;
    }
    
    .mainTitle {
        grid-area: mainTitle;
    
        font-family: 'PT Serif', serif;
        font-size: 32px;
        font-weight: 700;
    
        color: #000000;
    }
    
    .information {
        grid-area: information;
    
        width: auto;
    }

    .mainContent {
        display: grid;
        grid-template-areas:
        "photo1 photo2"
        "photo3 photo4"
        "photo5 photo6";
    
        grid-template-columns: 450px 450px;
    
        justify-content: center;
        justify-items: center;
        margin: auto;
    }

    .mainContent p {
        font-weight: 400;

        transform: rotate(90deg);
        
        position: relative;
        bottom: 260px;
        left: 150px;
    }

    #photo1, #photo2, #photo3,
    #photo4, #photo5, #photo6 {
        margin-bottom: 100px;
        width: 300px;
    }

    #photo4, #photo6 {
        margin-top: 100px;
    }

    #photo5 {
        margin-top: 0;
    }
}

@media (max-width: 576px) {
    img {
        width: 150px;
        height: 253px;
    }

    .header {
        display: grid;
        grid-template-areas:
        "mainTitle mainTitle"
        "information information";
    
        grid-template-columns: 300px 300px;
    
        justify-content: left;
        justify-items: left;
        padding: 0 0 100px 20px;
    }
    
    .mainTitle {
        grid-area: mainTitle;
    
        font-family: 'PT Serif', serif;
        font-size: 32px;
        font-weight: 700;

        line-height: 100px;
    
        color: #000000;
    }
    
    .information {
        grid-area: information;
    
        width: 150px;
    }

    .information, h2 {
        font-weight: 600;
        line-height: 25px;
    
        font-size: px;
        
        color: #000000;
    }

    .mainContent h3 {
        font-weight: 600;
        
        position: relative;
        top: 10px;
    }
    
    .information, p {
        width: 350px;
    
        line-height: 25px;
        font-weight: 400;
        text-align: left;

        font-size: 14px;
    
        color: #000000;
    }

    .mainContent {
        display: grid;
        grid-template-areas:
        "photo1 photo2"
        "photo3 photo4"
        "photo5 photo6";
    
        grid-template-columns: 200px 200px;

        justify-items: center;
        justify-content: center;
        margin: auto;
    }

    .mainContent p {
        font-weight: 400;

        transform: rotate(90deg);
        
        position: relative;
        bottom: 110px;
        left: -10px;
    }

    #photo1, #photo2, #photo3,
    #photo4, #photo5, #photo6 {
        width: 200px;
        margin-bottom: 0;
    }

    #photo4, #photo6 {
        margin-top: 150px;
    }

    #photo5 {
        margin-top: 0;
    }

    footer {
        margin-top: 50px;
    }

    @media (max-width: 400px) {
        img {
            width: 120px;
            height: 203px;
        }
    
        .header {
            display: grid;
            grid-template-areas:
            "mainTitle mainTitle"
            "information information";
        
            grid-template-columns: 300px 300px;
        
            justify-content: left;
            justify-items: left;
            padding: 0 0 100px 10px;
        }
        
        .mainTitle {
            grid-area: mainTitle;
        
            font-family: 'PT Serif', serif;
            font-size: 32px;
            font-weight: 700;
    
            line-height: 100px;
        
            color: #000000;
        }
        
        .information {
            grid-area: information;
        
            width: 150px;
        }
    
        .information, h2 {
            font-weight: 600;
            line-height: 25px;
        
            font-size: px;
            
            color: #000000;
        }
        
        .information, p {
            width: 350px;
        
            line-height: 25px;
            font-weight: 400;
            text-align: left;
    
            font-size: 14px;
        
            color: #000000;
        }
    
        .mainContent {
            display: grid;
            grid-template-areas:
            "photo1 photo2"
            "photo3 photo4"
            "photo5 photo6";
        
            grid-template-columns: 170px 170px;
    
            width: auto;

            justify-items: center;
            justify-content: center;
            margin: auto;
        }

        .mainContent h3 {
            font-weight: 600;
            
            position: relative;
            top: 10px;
        }
    
        .mainContent p {
            font-weight: 400;
    
            transform: rotate(90deg);
            
            position: relative;
            bottom: 75px;
            left: -40px;
        }
    
        #photo1, #photo2, #photo3,
        #photo4, #photo5, #photo6 {
            width: 100px;
            margin-bottom: 0;
        }
    
        #photo4, #photo6 {
            margin-top: 150px;
        }
    
        #photo5 {
            margin-top: 0;
        }
    
        footer {
            margin-top: 100px;
        }

    }
}